/* Fundo da página */
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#4a7bd1,#4a7bd1);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    /* Caixa principal */
    .container{
    background:#e6e6e6;
    padding:40px;
    border-radius:15px;
    border:2px solid black;
    width:320px;
    text-align:center;
    }
    
    /* Título */
    .container h1{
    font-size:26px;
    margin-bottom:30px;
    }
    
    /* Caixa do formulário */
    .form-box{
    display:flex;
    flex-direction:column;
    gap:15px;
    }
    
    /* Inputs */
    .form-box input[type="text"],
    .form-box input[type="password"]{
    padding:12px;
    border-radius:25px;
    border:2px solid #666;
    outline:none;
    font-size:16px;
    }
    
    /* Opções */
    .options{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:10px;
    }
    
    /* Botão */
    button{
    background:#0f4fa8;
    color:white;
    border:none;
    padding:14px;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
    }
    
    /* Efeito botão */
    button:hover{
    background:#083b82;
    }
    
    /* Links */
    .links{
    margin-top:15px;
    font-size:14px;
    }
    
    .links a{
    color:black;
    font-weight:bold;
    text-decoration:underline;
    }