/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Container que divide a tela ao meio */
.container-principal {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Lado Azul (Logo) */
.lado-logo{
    flex: 1;
    background: linear-gradient(135deg, #114fa8,#c1d3f3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* importante */
}

/* filtro azul claro */
.lado-logo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 50, 107, 0.288); /* azul claro transparente */
}

.lado-logo img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 150px;
   
}

/* Lado Branco (Login) */
.lado-login {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card centralizado no lado branco */
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  

    
  
}
    
.lado-logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 50, 107, 0.288);
}

.logo-login{
    width: 350px;
    display: block;
    margin-bottom: 0; /* aproxima do texto */
}

.bem-vindo{
    text-align:center;
    color:#114fa8;
    font-size:15px;
    font-weight:600;
    letter-spacing:1px;
    margin-top: -55px;
}

/* Caixa do formulário - Empilha os itens */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Estilização dos Inputs (Ovais) */
.form-box input[type="text"],
.form-box input[type="password"] {
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid #000000;
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}

/* Opções (Checkboxes) */
.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #333;
    padding: 0 10px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* Botão de Login */
button {
    background: #0f4fa8;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

button:hover {
    background: #083b82;
}

/* Responsividade para Celular */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
    }
    .lado-logo {
        flex: 0.4; /* Logo menor no mobile */
    }
}