body {
    font-family: Arial;
    background: #f4f6fb;
    margin: 0;
}


.container {
    margin-left: 90px;
    padding: 40px;
}


h1 {
    color: #114fa8;
    text-align: center;
    margin-bottom: 40px;
}




h2 {
    margin-top: 40px;
    color: #114fa8;
    text-align: center;
    margin-bottom: 30px;
}


.form {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 12px;
    margin-bottom: 30px;
}


input,
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


button {
    background: #114fa8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}


button:hover {
    background: #0a3c84;
}


table {
  border-radius: 12px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px auto;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


th {
    background: #114fa8;
    color: white;
    padding: 12px;
}


td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


.status-ativo {
    color: green;
    font-weight: bold;
}


.status-inativo {
    color: red;
    font-weight: bold;
}


.btn-excluir {
    background: #dc2626;
}


.btn-excluir:hover {
    background: #b91c1c;
}
