.navbar {
    position: fixed;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    height: 80px;
    background: rgba(2, 60, 141, 0.301);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

/* LOGO MENOR */
.logo-navbar {
    height: 190px;
    
}

.usuario {
    color: #004aad;
    font-weight: bold;
    font-size: 22px;
    margin-right: 40px;

}

@media (max-width: 1024px) {

    .navbar {
        left: 60px;
        width: calc(100% - 60px);
        height: 70px;
    }

    .sidebar.ativo ~ .navbar {
        left: 200px;
        width: calc(100% - 200px);
    }

    .logo-navbar {
        height: 90px;
    }

    .usuario {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .navbar {
        left: 50px; 
        width: calc(100% - 50px);
        height: 60px;
        padding: 0 10px;
    }

    .sidebar.ativo ~ .navbar {
        left: 160px;
        width: calc(100% - 160px);
    }

    .logo-navbar {
        height: 120px; 
    }

    .usuario {
        font-size: 16px;
        margin-right: 10px;
    }
}