*{
    margin: 0;
}

.sidebar{
width:90px;
height:100vh;
background:#114fa8;
position:fixed;
left:0;
top:0;
display:flex;
flex-direction:column;
align-items:center;
font-family:Arial;
}

/* botão */
.item{
width:90%;
display:flex;
flex-direction:column; /* icone em cima */
align-items:center;
justify-content:center;
color:white;
text-decoration:none;
padding:15px 5px;
border-radius:12px;
margin-bottom:10px;
transition:0.3s;
text-align:center;
}

.item:hover{
background:#0a3c84;
}

.item.active{
background:#0a3c84;
}

/* ícone */
.icon{
font-size:26px;
margin-bottom:5px;
filter: brightness(0) invert(1);
}
.casa{
font-size:26px;
margin-bottom:5px;
width: 25px;
height: 25px;
filter: brightness(0) invert(1);
}
.imagem2{
font-size:26px;
margin-bottom:5px;
width: 30px;
height: 30px;
filter: brightness(0) invert(1);
}
.casa{
font-size:26px;
margin-bottom:5px;
width: 25px;
height: 25px;
filter: brightness(0) invert(1);
}
.x{
font-size:26px;
margin-bottom:5px;
width: 25px;
height: 25px;
filter: brightness(0) invert(1);
}

.avatar{
font-size:26px;
margin-bottom:5px;
width: 40px;
height: 40px;
filter: brightness(0) invert(1);
}
/* texto */
.item span{
font-size:13px;
}

/* botão sair */
.logout{
margin-top:auto;
margin-bottom:20px;
}

.menu-icon{
color:white;
font-size:28px;
margin-bottom:30px;
margin-top: 20px;
}

body{
margin:0;
}

.conteudo{
margin-left:200px; /* mesmo valor da sidebar */
padding:30px;
}