<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Divergências</title>
    <link rel="stylesheet" href="../../css/css_components/pages/divergencias.css">
    <link rel="stylesheet" href="/css/css_components/sidebar.css">
</head>

<body>
    <div id="sidebar-container"></div>

    <div class="container">
        <div id="sidebar"></div>

        <div class="main">
            <h1>Divergências de produção</h1>

            <div class="cards">
                <div class="card">
                    <p>Divergências Hoje</p>
                    <h3 id="divHoje">0</h3>
                </div>

                <div class="card">
                    <p>Divergências</p>
                    <h3 id="criticas">0</h3>
                </div>

                <div class="card">
                    <p>Máquinas com erro</p>
                    <h3 id="maqErro">0</h3>
                </div>

                <div class="card">
                    <p>Peças divergentes</p>
                    <h3 id="pecas">0</h3>
                </div>
            </div>

            <p class="titulo">Alerta de Divergências</p>
            <div class="alerta" id="alertaTexto">
                Nenhuma divergência crítica no momento.
            </div>

            <p class="titulo1">Filtros</p>
            <div class="filtros">
                <input type="date" id="filtroData">
                <input type="text" id="filtroMaquina" placeholder="Máquina">
                <input type="text" id="filtroStatus" placeholder="Status">
                <input type="text" id="filtroProduto" placeholder="Produto">
                <button type="button" onclick="filtrar()">Filtrar</button>
                <button type="button" onclick="limparFiltros()">Limpar</button>
            </div>

            <p class="titulo2">Tabela de Dados</p>
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Máquina</th>
                            <th>Produto</th>
                            <th>Status</th>
                            <th>Alerta</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaDados"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="../../js/pages/divergencias.js"></script>
    <script src="/js/components/sidebar.js"></script>
    <script src="../../js/components/loadSidebar.js"></script>
</body>
</html>