<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="../css/css_components/Login.css">
</head>

<body>

<div class="container">
<h1>N.A.B.L</h1>
<h2>Automotiv.</h2>

<div class="form-box">
<input type="text" placeholder="USUARIO" id="usuario">
<input type="password" placeholder="SENHA" id="senha">

<div class="options">
<label><input type="checkbox"> LEMBRA SENHA</label>
<label><input type="checkbox"> ESQUECI A SENHA</label>
</div>

<button onclick="login()">LOGIN</button>

<div class="links">
<span>NAO TENHO UMA CONTA?</span>
</div>

</div>
</div>

<script src="Login.js"></script>

</body>
</html>