<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SmartFactory</title>
    <link rel="stylesheet" href="../css/css_components/Login.css">
</head>

<body>

    <div class="container-principal">
        <div class="lado-logo">
            <img src="../img/fundo2.jpg" alt="SmartFactory Logo">
        </div>

        <div class="lado-login">
            <div class="login-card">
                <div class="form-box">
                    <img src="../img/Logo.png" alt="logo do login">

                    <h2 class="bem-vindo">Seja bem-vindo</h2>

                    <input type="text" placeholder="USUÁRIO" id="usuario">
                    <input type="password" placeholder="SENHA" id="senha">


                    <div class="options">
                        <label><input type="checkbox"> LEMBRA SENHA</label>
                        <label><input type="checkbox"> ESQUECI A SENHA</label>
                    </div>

                   <button id="botaoLogin">LOGIN</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/Login.js"></script>
    <script src="../js/dashboard.js"></script>
</body>
</html>
    