*{
 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




body {
  font-family: Arial;
  background: #ffffff;
}








.container {
  display: flex;
  padding: 40px;
}




.main {
  flex: 1;
  margin-left: 15vh;
  margin-right: 2vh;
}








h1{
text-align:center;
color:#114fa8;
margin-bottom:30px;
}




.cards {
  display: flex;
  gap: 15px;
  margin: 40px 0;
 
}








.card {
  flex: 1;
  background: #004aad;
  color: white;
  padding: 40px;
  border-radius: 20px;
}








.titulo {
  padding-bottom:30px;
  text-align: center;
  color:#114fa8;
  font-size: 25px;




}
.titulo1 {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  color:#114fa8;
  font-size: 25px;
}




.titulo2 {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;  
  color:#114fa8;
  font-size: 25px;
}




.alerta {
  background: #ff5c5c;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}








.filtros {
  background: #114ea3;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}








.filtros input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}








.filtros button {
  padding: 10px 20px;
  border: none;
  background: #0b3d91;
  color: white;
  border-radius: 8px;
}








.tabela {
  background: #ffffff;
  padding: 10px;
  border-radius: 15px;
}








table {
  width: 100%;
   border-radius: 12px;      
  overflow: hidden;          
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  background: white;
  border-collapse: collapse;
}








th {
  background: #0b3d91;
  color: white;
  padding: 10px;
}








td {
  padding: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
  text-align: center;
}








.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
}








.amarelo { background: gold; }
.vermelho { background: red; }
.verde { background: green; }


